<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Bidhub: {{this.title}}</title>
    <link rel="shortcut icon" href="/img/icon.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="css/datepicker.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/col5.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/js-snackbar.min.css">
    <link rel="stylesheet" href="/css/nouislider.min.css">
    <link rel="stylesheet" href="/css/Popup-plugin.css">
    <link rel="stylesheet" href="/css/slick-theme.css">
    <link rel="stylesheet" href="/css/slick.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/switchery.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    {{{_sections.css}}}
</head>

<body>
    <!-- HEADER -->
    <header>
        <!-- header -->
        <div id="header">
            <div class="container">
                <div class="pull-left">
                    <!-- Logo -->
                    <div class="header-logo">
                        <a class="logo" href="/">
                            <img src="/img/logo.png" alt="">
                        </a>
                    </div>
                    <!-- /Logo -->

                    <!-- Search -->
                    <div class="header-search">
                        <form method="POST">
                            <input class="input search-input" name="textSearch" type="text"
                                placeholder="Tìm sản phẩm bạn muốn" value={{textSearch}}>
                            <select name="category" class="input search-categories" value={{category}}>
                                <option value="0">Tất cả danh mục</option>
                                {{#each lcCateList}}
                                <option value="{{this.cateID}}">{{this.cateName}}</option>
                                {{/each}}
                            </select>
                            <button type="submit" formaction="/productList/search" class="search-btn"><i
                                    class="fa fa-search"></i></button>
                        </form>
                    </div>
                    <!-- /Search -->
                </div>
                <div class="pull-right">
                    <ul class="header-btns">
                        {{#if user.isSeller}}
                        <li class="header-cart dropdown default-dropdown">
                            <a href="/seller/new-product" class="main-btn upload-btn"><i class="fas fa-gavel"></i>
                                Mở phiên
                                đấu giá</a>
                        </li>
                        {{/if}}
                        <!-- Account -->
                        <li class="header-account dropdown default-dropdown" id="account-container">
                            <div class="dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="true">
                                <div class="header-btns-icon">
                                    <i class="fas fa-user-circle fa-3x"></i>
                                </div>
                                <strong class="text-uppercase" style="line-height: 40px;">{{#if user}}
                                    {{user.name}}
                                    {{/if}}
                                    {{#unless user}} Tài khoản {{/unless}}
                                    <i class="fa fa-caret-down"></i></strong>
                            </div>
                            <ul class="custom-menu">
                                {{#if user}}
                                <li><a href="/account#profile"><i class="fas fa-user-cog"></i> Thông tin cá nhân</a>
                                </li>
                                <li><a href="/account#bid-history"><i class="fas fa-poll"></i> Lịch sử đấu giá</a></li>
                                <li><a href="/account#wish-list"><i class="fa fa-heart"></i> Danh sách yêu thích</a>
                                </li>
                                {{#if user.isSeller}}
                                <li><a href="/account#sold-product"><i class="fas fa-clipboard"></i> Sản phẩm đã
                                        đăng</a></li>
                                {{/if}}
                                <li><a href="/account#win-list"><i class="fa fa-clipboard-check"></i> Danh sách đã
                                        thắng</a>
                                </li>
                                {{#unless user.isSeller}}
                                <li><a href="/account#seller-regis"><i class="fa fa-unlock-alt"></i> Đăng ký làm
                                        người bán</a></li>
                                {{/unless}}
                                <li><a href="javascript:void(0)" class="btn-signout"><i class="fas fa-sign-out-alt"></i>
                                        Đăng xuất</a></li>
                                {{/if}}
                                {{#unless user}}
                                <li><a href="/login"><i class="fas fa-sign-in-alt"></i> Đăng nhập</a>
                                </li>
                                <li><a href="/signup"><i class="fas fa-user-plus"></i> Đăng ký</a></li>
                                {{/unless}}
                            </ul>
                        </li>
                        <!-- /Account -->

                        <!-- Mobile nav toggle-->
                        <li class="nav-toggle">
                            <button class="nav-toggle-btn main-btn icon-btn"><i class="fa fa-bars"></i></button>
                        </li>
                        <!-- / Mobile nav toggle -->
                    </ul>
                </div>
            </div>
            <!-- header -->
        </div>
        <!-- container -->
    </header>
    <!-- /HEADER -->

    <!-- NAVIGATION -->
    <div id="navigation">
        <!-- container -->
        <div class="container">
            <div id="responsive-nav">
                <!-- category nav -->
                <div class="category-nav {{#unless showNavbar}}show-on-click{{/unless}}">
                    <span class="category-header">Danh mục sản phẩm <i class="fa fa-list"></i></span>
                    <ul class="category-list">
                        {{#each lcCateList}}
                        <li class="dropdown side-dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true"><i
                                    class="fas fa-{{cateIcon}}"></i></i>&nbsp;{{cateName}} <i
                                    class="fa fa-angle-right icon-right"></i></a>
                            <div class="custom-menu">
                                <div class="row">
                                    <div class="col-md-6">
                                        <ul class="list-links cat-list">
                                            {{#each subCate}}
                                            <li><a href="/productList/{{cateID}}/{{subcateID}}">{{subcateName}}</a>
                                            </li>
                                            {{/each}}
                                        </ul>
                                    </div>
                                    <div class="col-md-6 hidden-sm hidden-xs">
                                        <img src="" class="cat-img" order="-1">
                                    </div>
                                </div>
                            </div>
                        </li>
                        {{/each}}
                        {{!-- <li class="dropdown side-dropdown">
							<a href="productList"><i class="" data-fa-i2svg=""><svg class="svg-inline--fa fa-th fa-w-16" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="th" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M149.333 56v80c0 13.255-10.745 24-24 24H24c-13.255 0-24-10.745-24-24V56c0-13.255 10.745-24 24-24h101.333c13.255 0 24 10.745 24 24zm181.334 240v-80c0-13.255-10.745-24-24-24H205.333c-13.255 0-24 10.745-24 24v80c0 13.255 10.745 24 24 24h101.333c13.256 0 24.001-10.745 24.001-24zm32-240v80c0 13.255 10.745 24 24 24H488c13.255 0 24-10.745 24-24V56c0-13.255-10.745-24-24-24H386.667c-13.255 0-24 10.745-24 24zm-32 80V56c0-13.255-10.745-24-24-24H205.333c-13.255 0-24 10.745-24 24v80c0 13.255 10.745 24 24 24h101.333c13.256 0 24.001-10.745 24.001-24zm-205.334 56H24c-13.255 0-24 10.745-24 24v80c0 13.255 10.745 24 24 24h101.333c13.255 0 24-10.745 24-24v-80c0-13.255-10.745-24-24-24zM0 376v80c0 13.255 10.745 24 24 24h101.333c13.255 0 24-10.745 24-24v-80c0-13.255-10.745-24-24-24H24c-13.255 0-24 10.745-24 24zm386.667-56H488c13.255 0 24-10.745 24-24v-80c0-13.255-10.745-24-24-24H386.667c-13.255 0-24 10.745-24 24v80c0 13.255 10.745 24 24 24zm0 160H488c13.255 0 24-10.745 24-24v-80c0-13.255-10.745-24-24-24H386.667c-13.255 0-24 10.745-24 24v80c0 13.255 10.745 24 24 24zM181.333 376v80c0 13.255 10.745 24 24 24h101.333c13.255 0 24-10.745 24-24v-80c0-13.255-10.745-24-24-24H205.333c-13.255 0-24 10.745-24 24z"></path></svg></i>&nbsp;Tất cả danh mục </a>
						</li> --}}
                    </ul>
                </div>
                <!-- /category nav -->
            </div>
        </div>
        <!-- /container -->
    </div>
    <!-- /NAVIGATION -->

    {{#unless notShowBreadcumb}}
    <!-- BREADCRUMB -->
    <div id="breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="/">Trang chủ</a></li>
                <li class="active">{{this.title}}</li>
            </ul>
        </div>
    </div>
    <!-- /BREADCRUMB -->
    {{/unless}}

    {{{body}}}

    <!-- FOOTER -->
    <footer id="footer" class="section section-grey">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- footer widget -->
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="footer">
                        <!-- footer logo -->
                        <div class="footer-logo">
                            <a class="logo" href="/">
                                <img src="/img/logo.png" alt="">
                            </a>
                        </div>
                        <!-- /footer logo -->

                        <img src="https://frontend.tikicdn.com/_new-next/static/img/footer/bo-cong-thuong.svg" alt="">


                    </div>
                </div>
                <!-- /footer widget -->

                <!-- footer widget -->
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="footer">
                        <h3 class="footer-header">Phương thức thanh toán</h3>
                        <ul class="list-links">
                            <li>
                                <img src="https://frontend.tikicdn.com/_new-next/static/img/footer/visa.svg" alt="">
                                <img src="https://frontend.tikicdn.com/_new-next/static/img/footer/mastercard.svg"
                                    alt="">
                                <img src="https://frontend.tikicdn.com/_new-next/static/img/footer/cash.svg" alt="">
                                <img src="https://frontend.tikicdn.com/_new-next/static/img/footer/internet-banking.svg"
                                    alt="">
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- /footer widget -->

                <div class="clearfix visible-sm visible-xs"></div>

                <!-- footer widget -->
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="footer">
                        <h3 class="footer-header">Hỗ trợ khách hàng</h3>
                        <ul class="list-links">
                            <li><a href="/">Giới thiệu về Bidhub</a></li>
                            <li><a href="/">Chính sách bảo mật</a></li>
                            <li><a href="/">Tư vấn</a></li>
                        </ul>
                    </div>
                </div>
                <!-- /footer widget -->

                <!-- footer subscribe -->
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="footer">
                        <h3 class="footer-header">Kết nối với Bidhub</h3>
                        <!-- footer social -->
                        <ul class="footer-social">
                            <li><a href="https://www.facebook.com/"><i class="fab fa-facebook-square fa-2x"></i></a>
                            </li>
                            <li><a href="https://www.twitter.com/"><i class="fab fa-twitter-square fa-2x"></i></li>
                            <li><a href="https://www.youtube.com/"><i class="fab fa-youtube fa-2x"></i></a></li>
                        </ul>
                        <!-- /footer social -->
                    </div>
                </div>
                <!-- /footer subscribe -->
            </div>
            <!-- /row -->
            <hr>
            <!-- row -->
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <!-- footer copyright -->
                    <div class="footer-copyright">
                        &copy;
                        <script>document.write(new Date().getFullYear());</script> Bidhub.
                        Tất cả các quyền được bảo lưu
                    </div>
                    <!-- /footer copyright -->
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </footer>
    <!-- /FOOTER -->

    <!-- jQuery Plugins -->
    <script src="/js/plugin/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.11.2/js/all.js" data-auto-replace-svg="nest"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

    <script src="/js/plugin/datepicker.min.js"></script>
    <script src="/js/plugin/datepicker.en.js"></script>
    <script src="/js/plugin/jquery.zoom.min.js"></script>
    <script src="/js/plugin/js-snackbar.min.js"></script>
    <script src="/js/plugin/nouislider.min.js"></script>
    <script src="/js/plugin/Popup-plugin.js"></script>
    <script src="/js/plugin/slick.min.js"></script>
    <script src="/js/plugin/switchery.min.js"></script>
    <script src="/js/main.js"></script>
    {{{_sections.js}}}
</body>

</html>