{{#section 'js'}}
<script src="/js/account.js"></script>
{{/section}}

{{#section 'css'}}
<link rel="stylesheet" href="/css/rating.css">
{{/section}}

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-2 fixed-aside">
                <!-- ASIDE -->
                <div id="aside" class="">
                    <!-- aside widget -->
                    <div class="aside">
                        <h3 class="aside-title">Tài khoản</h3>
                        <ul class="list-links">
                            <li><a href="#profile" class="active">Thông tin cá nhân</a></li>
                            <hr>
                            <li><a href="#bid-history">Lịch sử đấu giá</a></li>
                            <hr>
                            <li><a href="#wish-list">Danh sách yêu thích</a></li>
                            <hr>
                            <li><a href="#sold-product">Sản phẩm của bạn đang bán</a></li>
                            <hr>
                            <li><a href="#sold-product-end">Sản phẩm đăng bán đã hết thời gian</a></li>
                            <hr>
                            <li><a href="#ratting">Đánh giá về bạn</a></li>
                            {{#unless user.isSeller}}
                            <hr>
                            <li><a href="#seller-regis">Đăng ký làm người bán</a></li>
                            {{/unless}}
                        </ul>
                    </div>
                    <!-- /aside widget -->
                </div>
                <!-- /ASIDE -->
            </div>

            <div class="col-md-10">
                <div id="profile">
                    <!-- row -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="section-title">
                                <h3 class="title">Thông tin cá nhân</h3>
                            </div>
                            <form id="checkout-form" class="clearfix">
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <h4 class="form-label">Họ và tên</h4>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <input class="input" type="text" id="name" name="name"
                                                placeholder="Họ và tên" value="{{user.name}}" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <h4 class="form-label">Email</h4>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <input class="input" type="email" id="email" name="email"
                                                placeholder="Email" value="{{user.email}}" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <h4 class="form-label">Địa chỉ</h4>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <input class="input" type="text" id="address" name="address"
                                                placeholder="Địa chỉ" value="{{user.address}}" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <h4 class="form-label">Số điện thoại</h4>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <input class="input" type="tel" id="tel" name="tel"
                                                placeholder="Số điện thoại" value="{{user.tel}}" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <h4 class="form-label">Ngày sinh</h4>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <input type='text' class='datepicker-here input' id="birthDay"
                                                name="birthDay" value="{{format_birthday user.birthDay}}"
                                                data-language='en' />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <h4 class="form-label"><a href="#ratting">Điểm đánh giá</a></h4>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <p class="">{{format_evaluation user.point}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12" style="text-align: center;">
                                    <div class="form-group">
                                        <button userID="{{user.userID}}" type="button"
                                            class="main-btn btn-edit-info">Cập nhật thông tin</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div id="bid-history">
                    <!-- row -->
                    <div class="row">
                        <!-- MAIN -->
                        <div class="col-md-12">
                            <div class="section-title">
                                <h3 class="title">Lịch sử đấu giá</h3>
                            </div>
                            <!-- row -->
                            <div class="row">
                                <div class="col-md-12 product-container" id="history">
                                    {{#if emptyProductsHistoryBid}}
                                    <p>Bạn chưa đấu giá sản phẩm nào</p>
                                    {{else}}
                                    {{#each this.productsHistoryBid}}
                                    <div class="col-md-3 col-sm-4 col-xs-6">
                                        <div class="product product-single">
                                            <div class="product-thumb">
                                                <div class="product-label">
                                                    {{#if isNew}}
                                                    <span>Mới</span>
                                                    {{/if}}
                                                    {{#if isHot}}
                                                    <span class="sale">Hot <i class="fab fa-hotjar"></i></span>
                                                    {{/if}}
                                                </div>
                                                <ul class="product-countdown">
                                                    <li><span class="cd-h">0 H</span></li>
                                                    <li><span class="cd-m">0 M</span></li>
                                                    <li><span class="cd-s">0 S</span></li>
                                                </ul>
                                                {{#if resultBid}}
                                                <button class="main-btn check-out"><i
                                                        class="fas fa-money-check-alt"></i> Thanh toán</button>
                                                {{else}}
                                                <button class="main-btn quick-view"><i class="fa fa-search-plus"></i>
                                                    Xem chi tiết</button>
                                                {{/if}}
                                                <button productID="{{productID}}" userID="{{user.userID}}" type="button"
                                                    onsubmit="return false;" name="btnWish"
                                                    class="watch-list btn-wish {{#if isExistWishItem}}focus{{/if}}"><i
                                                        class="fa fa-heart"></i></button>
                                                <img src="/img/product/{{productID}}/{{mainImgSrc}}" alt="">
                                            </div>
                                            <div class="product-body">
                                                <h2 class="product-name"><a {{#if resultBid}}
                                                        href="/checkout/{{productID}}">{{format_name productName}} </a>
                                                    {{else}}
                                                    href="/product/{{productID}}">{{format_name productName}} </a>
                                                    {{/if}}
                                                </h2>
                                                <p class="product-text">Giá hiện tại: <span class="product-price"
                                                        {{#if isWinner}} style="color: green 
                                                 {{else}} style=" color: red"
                                                        {{/if}}">{{format_money currentPrice}}</span></p>
                                                <p class="product-text">Giá bán ngay: <span
                                                        class="product-price">{{format_money immePrice}}</span></p>
                                                <p class="product-text">Giá của bạn: <span class="product-price"
                                                        style="color: green">{{format_money price}}</span></p>
                                                {{#if isCancel}}
                                                <p class="product-text">Trạng thái: <span class="product-price"
                                                        style="color: orange">Đã bị huỷ</span></p>
                                                {{else}}
                                                {{#if isEndBid}}
                                                <p class="product-text">Trạng thái: <span class="product-price"
                                                        style="color: red">Đã kết thúc</span></p>
                                                {{#if isWinner}}
                                                <p class="product-text">Kết quả: <span class="product-price"
                                                        style="color: green">Thắng cuộc</span></p>
                                                {{else}}
                                                <p class="product-text">Kết quả: <span class="product-price"
                                                        style="color: orange">Thất bại</span></p>
                                                {{/if}}
                                                {{else}}
                                                <p class="product-text">Trạng thái: <span class="product-price"
                                                        style="color: green">Đang đấu giá</span></p>
                                                {{/if}}
                                                {{/if}}
                                                <div class="product-footer">
                                                    <small><span>{{countBid}}</span> lượt ra giá</small>
                                                    <small>Từ <span>{{format_day beginDate}}</span></small>
                                                </div>
                                            </div>
                                            <input type="hidden" id="endDate" value="{{format_day_value endDate}}">
                                        </div>
                                    </div>
                                    {{/each}}
                                </div>
                                {{/if}}
                            </div>
                            <!-- /row -->
                        </div>
                        <!-- /MAIN -->
                    </div>
                    <!-- /row -->
                </div>

                <div id="wish-list">
                    <!-- row -->
                    <div class="row">
                        <!-- MAIN -->
                        <div class="col-md-12">
                            <div class="section-title">
                                <h3 class="title">Danh sách yêu thích</h3>
                            </div>
                            <!-- row -->
                            <div class="row">
                                <div class="col-md-12 product-container" id="wish-list">
                                    {{#if emptyProductsWishList}}
                                    <p>Danh sách yêu thích trống</p>
                                    {{else}}
                                    {{#each this.productsWishList}}
                                    <div class="col-md-3 col-sm-4 col-xs-6">
                                        <div class="product product-single">
                                            <div class="product-thumb">
                                                <div class="product-label">
                                                    {{#if isNew}}
                                                    <span>Mới</span>
                                                    {{/if}}
                                                    {{#if isHot}}
                                                    <span class="sale">Hot <i class="fab fa-hotjar"></i></span>
                                                    {{/if}}
                                                </div>
                                                <ul class="product-countdown">
                                                    <li><span class="cd-h">0 H</span></li>
                                                    <li><span class="cd-m">0 M</span></li>
                                                    <li><span class="cd-s">0 S</span></li>
                                                </ul>
                                                <button class="main-btn quick-view"><i class="fa fa-search-plus"></i>
                                                    Xem chi tiết</button>
                                                <button productID="{{productID}}" userID="{{user.userID}}" type="button"
                                                    onsubmit="return false;" name="btnWish"
                                                    class="watch-list btn-wish {{#if isExistWishItem}}focus{{/if}}"><i
                                                        class="fa fa-heart"></i></button>
                                                <img src="/img/product/{{productID}}/{{mainImgSrc}}" alt="">
                                            </div>
                                            <div class="product-body">
                                                <h2 class="product-name"><a
                                                        href="/product/{{productID}}">{{format_name productName}}</a>
                                                </h2>
                                                <p class="product-text">Giá hiện tại: <span
                                                        class="product-price">{{format_money currentPrice}}</span></p>
                                                <p class="product-text">Giá bán ngay: <span
                                                        class="product-price">{{format_money immePrice}}</span></p>
                                                {{#if isBided}}
                                                <p class="product-text">Đặt cao nhất: <span
                                                        class="product-price">{{format_name_bid winner}}</span></p>
                                                {{/if}}
                                                <div class="product-footer">
                                                    <small><span>{{countBid}}</span> lượt ra giá</small>
                                                    <small>Từ <span>{{format_day beginDate}}</span></small>
                                                </div>
                                            </div>
                                            <input type="hidden" id="endDate" value="{{format_day_value endDate}}">
                                        </div>
                                    </div>
                                    {{/each}}
                                </div>
                                {{/if}}
                            </div>
                            <!-- /row -->
                        </div>
                        <!-- /MAIN -->
                    </div>
                    <!-- /row -->
                </div>

                <div id="sold-product">
                    <!-- row -->
                    <div class="row">
                        <!-- MAIN -->
                        <div class="col-md-12">
                            <div class="section-title">
                                <h3 class="title">Sản phẩm của bạn đang bán</h3>
                            </div>
                            <!-- row -->
                            <div class="row">
                                <div class="col-md-12 product-container" id="sold-product">
                                    {{#if emptyProductsSelling}}
                                    <p>Không có sản phẩm</p>
                                    {{else}}
                                    {{#each this.productsSelling}}
                                    <div class="col-md-3 col-sm-4 col-xs-6">
                                        <div class="product product-single">
                                            <div class="product-thumb">
                                                <div class="product-label">
                                                    {{#if isNew}}
                                                    <span>Mới</span>
                                                    {{/if}}
                                                    {{#if isHot}}
                                                    <span class="sale">Hot <i class="fab fa-hotjar"></i></span>
                                                    {{/if}}
                                                </div>
                                                <ul class="product-countdown">
                                                    <li><span class="cd-h">0 H</span></li>
                                                    <li><span class="cd-m">0 M</span></li>
                                                    <li><span class="cd-s">0 S</span></li>
                                                </ul>
                                                <button class="main-btn quick-view"><i class="fa fa-search-plus"></i>
                                                    Xem chi tiết</button>
                                                <button productID="{{productID}}" userID="{{user.userID}}" type="button"
                                                    onsubmit="return false;" name="btnWish"
                                                    class="watch-list btn-wish {{#if isExistWishItem}}focus{{/if}}"><i
                                                        class="fa fa-heart"></i></button>
                                                <img src="/img/product/{{productID}}/{{mainImgSrc}}" alt="">
                                            </div>
                                            <div class="product-body">
                                                <h2 class="product-name"><a
                                                        href="/product/{{productID}}">{{format_name productName}}</a>
                                                </h2>
                                                <p class="product-text">Giá hiện tại: <span
                                                        class="product-price">{{format_money currentPrice}}</span></p>
                                                <p class="product-text">Giá bán ngay: <span
                                                        class="product-price">{{format_money immePrice}}</span></p>
                                                {{#if isBided}}
                                                <p class="product-text">Đặt cao nhất: <span
                                                        class="product-price">{{format_name_bid winner.name}}</span></p>
                                                {{/if}}
                                                <div class="product-footer">
                                                    <small><span>{{countBid}}</span> lượt ra giá</small>
                                                    <small>Từ <span>{{format_day beginDate}}</span></small>
                                                </div>
                                            </div>
                                            <input type="hidden" id="endDate" value="{{format_day_value endDate}}">
                                        </div>
                                    </div>
                                    {{/each}}
                                </div>
                                {{/if}}
                            </div>
                            <!-- /row -->
                        </div>
                        <!-- /MAIN -->
                    </div>
                    <!-- /row -->
                </div>

                <div id="sold-product-end">
                    <!-- row -->
                    <div class="row">
                        <!-- MAIN -->
                        <div class="col-md-12">
                            <div class="section-title">
                                <h3 class="title">Sản phẩm đăng bán đã hết thời gian</h3>
                            </div>
                            <!-- row -->
                            <div class="row">
                                <div class="col-md-12 product-container" id="sold-product">
                                    {{#if emptyProductsSoldEnd}}
                                    <p>Không có sản phẩm</p>
                                    {{else}}
                                    {{#each this.productsSoldEnd}}
                                    <div class="col-md-3 col-sm-4 col-xs-6">
                                        <div class="product product-single">
                                            <div class="product-thumb">
                                                <button class="main-btn quick-view"><i class="fa fa-search-plus"></i>
                                                    Xem chi tiết</button>
                                                {{#if isBided}}
                                                <button class="main-btn btn-rating" winnerName="{{winner.name}}"
                                                    winnerEmail="{{winner.email}}" winnerTel="{{winner.tel}}"
                                                    winnerID="{{winner.userID}}" productID="{{productID}}"><a
                                                        href="#ratingWinner" data-toggle="modal" id="link-rating-winner"
                                                        class="trigger-btn"><i class="fas fa-thumbs-up"></i>&nbsp;Đánh
                                                        giá</a></button>
                                                {{/if}}
                                                <button productID="{{productID}}" userID="{{user.userID}}" type="button"
                                                    onsubmit="return false;" name="btnWish"
                                                    class="watch-list btn-wish {{#if isExistWishItem}}focus{{/if}}"><i
                                                        class="fa fa-heart"></i></button>
                                                <img src="/img/product/{{productID}}/{{mainImgSrc}}" alt="">
                                            </div>
                                            <div class="product-body">
                                                <h2 class="product-name"><a
                                                        href="/product/{{productID}}">{{format_name productName}}</a>
                                                </h2>
                                                <p class="product-text">Giá hiện tại: <span
                                                        class="product-price">{{format_money currentPrice}}</span></p>
                                                <p class="product-text">Giá bán ngay: <span
                                                        class="product-price">{{format_money immePrice}}</span></p>
                                                {{#if isBided}}
                                                <p class="product-text">Thắng cuộc: <span class="product-price"
                                                        style="color: green">{{winner.name}}</span></p>
                                                {{else}}
                                                <p class="product-text" style="color: red">Không có lượt ra giá
                                                    nào!!!</p>
                                                {{/if}}
                                                <div class="product-footer">
                                                    <small><span>{{countBid}}</span> lượt ra giá</small>
                                                    <small>Từ <span>{{format_day beginDate}}</span></small>
                                                </div>
                                            </div>
                                            <input type="hidden" id="endDate" value="{{format_day_value endDate}}">
                                        </div>
                                    </div>
                                    {{/each}}
                                </div>
                                {{/if}}
                            </div>
                            <!-- /row -->
                        </div>
                        <!-- /MAIN -->
                    </div>
                    <!-- /row -->
                </div>

                <div id="win-list">
                    <!-- row -->
                    <div class="row">
                        <!-- MAIN -->
                        <div class="col-md-12">
                            <div class="section-title">
                                <h3 class="title">Danh sách sản phẩm đã thắng</h3>
                            </div>
                            <!-- row -->
                            <div class="row">
                                <div class="col-md-12 product-container" id="sold-product">
                                    {{#if emptyProductsWinList}}
                                    <p>Không có sản phẩm</p>
                                    {{else}}
                                    {{#each this.productsWinList}}
                                    <div class="col-md-3 col-sm-4 col-xs-6">
                                        <div class="product product-single">
                                            <div class="product-thumb">
                                                <button class="main-btn check-out"><i
                                                        class="fas fa-money-check-alt"></i> Thanh toán</button>
                                                <button productID="{{productID}}" userID="{{user.userID}}" type="button"
                                                    onsubmit="return false;" name="btnWish"
                                                    class="watch-list btn-wish {{#if isExistWishItem}}focus{{/if}}"><i
                                                        class="fa fa-heart"></i></button>
                                                <img src="/img/product/{{productID}}/{{mainImgSrc}}" alt="">
                                                <button class="main-btn btn-rating" sellerName="{{seller.name}}"
                                                    sellerEmail="{{seller.email}}" sellerTel="{{seller.tel}}"
                                                    sellerID="{{seller.userID}}" productID="{{productID}}"><a
                                                        href="#ratingSeller" data-toggle="modal" id="link-rating-seller"
                                                        class="trigger-btn"><i class="fas fa-thumbs-up"></i>&nbsp;Đánh
                                                        giá</a></button>
                                            </div>
                                            <div class="product-body">
                                                <h2 class="product-name"><a
                                                        href="/checkout/{{productID}}">{{format_name productName}}</a>
                                                </h2>
                                                <p class="product-text">Giá sản phẩm: <span
                                                        class="product-price">{{format_money currentPrice}}</span></p>
                                                <div class="product-footer">
                                                    <small>Thời điểm: <span>{{format_time_bid endDate}}</span></small>
                                                </div>
                                            </div>
                                            <input type="hidden" id="endDate" value="{{format_day_value endDate}}">
                                        </div>
                                    </div>
                                    {{/each}}
                                </div>
                                {{/if}}
                            </div>
                            <!-- /row -->
                        </div>
                        <!-- /MAIN -->
                    </div>
                    <!-- /row -->
                </div>

                <div id="ratting">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="section-title">
                                <h3 class="title">Đánh giá về bạn</h3>
                            </div>
                            <div class="row">
                                <div class="col-md-12 eval-container">
                                    <div class="col-md-12 eval-single">
                                        {{#if emptyEvaluation}}
                                        <p>Không có lượt đánh giá nào</p>
                                        {{else}}
                                        {{#each evaluation}}
                                        <div class="eval-top">
                                            <div class="eval-sender">
                                                <p>{{senderName}}</p>
                                            </div>
                                            <div class="eval-date">
                                                <p>{{format_day_time time}}</p>
                                            </div>
                                        </div>
                                        <div class="eval-middle">
                                            {{#if isGood}}
                                            <div class="eval-icon">
                                                <p class="orange"><i class="fa fa-thumbs-up"></i> +1</p s>
                                            </div>
                                            {{else}}
                                            <div class="eval-icon">
                                                <p><i class="fas fa-thumbs-down"></i> -1</p>
                                            </div>
                                            {{/if}}
                                            <div class="eval-content">
                                                <p>{{{content}}}</p>
                                            </div>
                                        </div>
                                        {{/each}}
                                    </div>
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {{#unless user.isSeller}}
                <div id="seller-regis">
                    <!-- row -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="section-title">
                                <h3 class="title">Đăng ký làm người bán <small><i
                                            class="fas fa-info-circle"></i></small>
                                </h3>
                            </div>
                            <form id="checkout-form" class="clearfix">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <h4 class="form-label">Hình thức bán hàng </h4>
                                        </div>
                                    </div>
                                    <div class="col-md-9" style='line-height: 40px;'>
                                        <div class="form-group">
                                            <span style="font-size: large;">Cá nhân</span>
                                            <input type="checkbox" class="js-switch-radio">
                                            <span style="font-size: large;">Doanh nghiệp</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <h4 class="form-label">Thoả thuận dịch vụ </h4>
                                        </div>
                                    </div>
                                    <div class="col-md-9" style='line-height: 40px;'>
                                        <div class="form-group">
                                            <input type="checkbox" class="js-switch">
                                            <span style="font-size: large;">Tôi đồng ý với các <a
                                                    href="javascript:void(0)" class="btn-term"
                                                    style="color: #F8694A; text-decoration: underline;">điều
                                                    khoản
                                                    dịch vụ</a> của Bidhub</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12" style="text-align: center;">
                                        <div class="form-group">
                                            <button class="main-btn btn-seller-regis">Xác nhận đăng ký <i
                                                    class="fas fa-check-double"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                {{/unless}}
            </div>
        </div>
    </div>
</div>


<div id="ratingSeller" class="modal fade">
    <div class="modal-dialog modal-login">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Đánh giá người bán</h4>
                <button type="button" class="close" data-dismiss="modal" id="btn-exit-rating-seller"
                    aria-hidden="true">&times;</button>
                <div style="text-align: center; margin: 20px 0 -30px 0">
                    <h5 class="rating-seller-name"></h5>
                    <p class="rating-seller-email"></p>
                </div>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="input-group" id="like-group">
                        <input type="radio" class="radio-like" value="1" name="isLiked" id="seller-up">
                        <label class="label-like" for="up"><i class="fas fa-thumbs-up"></i></label>
                        <input type="radio" class="radio-like" value="0" name="isLiked" id="seller-down">
                        <label class="label-like" for="down"><i class="fas fa-thumbs-down"></i></label>
                        <input type="text" class="rating-seller-pID" value="" style="display: none;">
                        <input type="text" class="rating-seller-id" value="" style="display: none;">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group" style="width: 100%">
                        <textarea name="contents" class="rating-seller-content" style="width: 100%; padding: 5px"
                            rows="5" placeholder="Nhận xét người bán"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-primary btn-block btn-lg btn-rating-seller">Đánh
                        giá</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="ratingWinner" class="modal fade">
    <div class="modal-dialog modal-login">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Đánh giá người thắng</h4>
                <button type="button" class="close" data-dismiss="modal" id="btn-exit-rating-winner"
                    aria-hidden="true">&times;</button>
                <div style="text-align: center; margin: 20px 0 -30px 0">
                    <h5 class="rating-winner-name"></h5>
                    <p class="rating-winner-email"></p>
                </div>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="input-group" id="like-group">
                        <input type="radio" class="radio-like" value="1" name="isLiked" id="winner-up">
                        <label class="label-like" for="winner-up"><i class="fas fa-thumbs-up"></i></label>
                        <input type="radio" class="radio-like" value="0" name="isLiked" id="winner-down">
                        <label class="label-like" for="winner-down"><i class="fas fa-thumbs-down"></i></label>
                        <input type="text" class="rating-winner-pID" value="" style="display: none;">
                        <input type="text" class="rating-winner-id" value="" style="display: none;">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group" style="width: 100%">
                        <textarea name="contents" class="rating-winner-content" style="width: 100%; padding: 5px"
                            rows="5" placeholder="Nhận xét người thắng cuộc"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-primary btn-block btn-lg btn-rating-winner">Đánh
                        giá</button>
                </div>
                 <div class="form-group">
                    <button type="button" class="btn btn-primary btn-block btn-lg btn-refuse-winner" style="color: red;">Từ chối</button>
                </div>

            </div>
        </div>
    </div>
</div>