{{#section 'js'}}
<script src="js/sample/index.js"></script>
{{/section}}

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-2 fixed-aside">
                <!-- ASIDE -->
                <div id="aside" class="">
                    <!-- aside widget -->
                    <div class="aside">
                        <h3 class="aside-title">Tài khoản</h3>
                        <ul class="list-links">
                            <li><a href="#profile" class="active">Thông tin cá nhân</a></li>
                            <li><a href="#bid-history">Lịch sử đấu giá</a></li>
                            <li><a href="#wish-list">Danh sách yêu thích</a></li>
                            <li><a href="#sold-product">Sản phẩm đã đăng</a></li>
                            <li><a href="#seller-regis">Đăng ký làm người bán</a></li>
                            </di>
                    </div>
                    <!-- /aside widget -->
                </div>
                <!-- /ASIDE -->
            </div>

            <div class="col-md-10">
                <div id="profile">
                    <!-- row -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="section-title">
                                <h3 class="title">Thông tin cá nhân</h3>
                            </div>
                            <form id="checkout-form" class="clearfix">
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <h4 class="form-label">Họ và tên</h4>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <input class="input" type="text" id="name" name="name"
                                                placeholder="Họ và tên" value="{{user.name}}" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <h4 class="form-label">Email</h4>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <input class="input" type="email" id="email" name="email"
                                                placeholder="Email" value="{{user.email}}" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <h4 class="form-label">Địa chỉ</h4>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <input class="input" type="text" id="address" name="address"
                                                placeholder="Địa chỉ" value="{{user.address}}" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <h4 class="form-label">Số điện thoại</h4>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <input class="input" type="tel" id="tel" name="tel"
                                                placeholder="Số điện thoại" value="{{user.tel}}" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <h4 class="form-label">Ngày sinh</h4>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <input type='text' class='datepicker-here input' id="birthDay"
                                                name="birthDay" value="{{format_birthday user.birthDay}}"
                                                data-language='en' />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12" style="text-align: center;">
                                    <div class="form-group">
                                        <button userID="{{user.userID}}" type="button"
                                            class="main-btn btn-edit-info">Cập nhật thông tin</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div id="bid-history">
                    <!-- row -->
                    <div class="row">
                        <!-- MAIN -->
                        <div class="col-md-12">
                            <div class="section-title">
                                <h3 class="title">Lịch sử đấu giá</h3>
                            </div>
                            <!-- row -->
                            <div class="row">
                                {{#if emptyProductsHistoryBid}}
                                <p>Không có sản phẩm</p>
                                {{else}}
                                <div class="col-md-12 product-container" id="history">
                                    {{#each this.productsHistoryBid}}
                                    <div class="col-md-3 col-sm-4 col-xs-6">
                                        <div class="product product-single">
                                            <div class="product-thumb">
                                                <div class="product-label">
                                                    {{#if isNew}}
                                                    <span>Mới</span>
                                                    {{/if}}
                                                    {{#if isHot}}
                                                    <span class="sale">Hot <i class="fab fa-hotjar"></i></span>
                                                    {{/if}}
                                                </div>
                                                <ul class="product-countdown">
                                                    <li><span class="cd-h">0 H</span></li>
                                                    <li><span class="cd-m">0 M</span></li>
                                                    <li><span class="cd-s">0 S</span></li>
                                                </ul>
                                                {{#if resultBid}}
                                                <button class="main-btn check-out"><i
                                                        class="fas fa-money-check-alt"></i> Thanh toán</button>
                                                {{else}}
                                                <button class="main-btn quick-view"><i class="fa fa-search-plus"></i>
                                                    Xem chi tiết</button>
                                                {{/if}}
                                                <button productID="{{productID}}" userID="{{user.userID}}" type="button"
                                                    onsubmit="return false;" name="btnWish"
                                                    class="watch-list btn-wish {{#if isExistWishItem}}focus{{/if}}"><i
                                                        class="fa fa-heart"></i></button>
                                                <img src="/img/product/{{productID}}/{{mainImgSrc}}" alt="">
                                            </div>
                                            <div class="product-body">
                                                <h2 class="product-name"><a {{#if resultBid}}
                                                        href="/checkout/{{productID}}">{{format_name productName}} </a>
                                                    {{else}}
                                                    href="/product/{{productID}}">{{format_name productName}} </a>
                                                    {{/if}}
                                                </h2>
                                                <p class="product-text">Giá hiện tại: <span class="product-price"
                                                        {{#if isWinner}} style="color: green 
                                                 {{else}} style=" color: red"
                                                        {{/if}}">{{format_money currentPrice}}</span></p>
                                                <p class="product-text">Giá bán ngay: <span
                                                        class="product-price">{{format_money immePrice}}</span></p>
                                                <p class="product-text">Giá của bạn: <span class="product-price"
                                                        style="color: green">{{format_money price}}</span></p>
                                                {{#if isCancel}}
                                                <p class="product-text">Trạng thái: <span class="product-price"
                                                        style="color: orange">Đã bị huỷ</span></p>
                                                {{else}}
                                                {{#if isEndBid}}
                                                <p class="product-text">Trạng thái: <span class="product-price"
                                                        style="color: red">Đã kết thúc</span></p>
                                                {{#if isWinner}}
                                                <p class="product-text">Kết quả: <span class="product-price"
                                                        style="color: green">Thắng cuộc</span></p>
                                                {{else}}
                                                <p class="product-text">Kết quả: <span class="product-price"
                                                        style="color: orange">Thất bại</span></p>
                                                {{/if}}
                                                {{else}}
                                                <p class="product-text">Trạng thái: <span class="product-price"
                                                        style="color: green">Đang đấu giá</span></p>
                                                {{/if}}
                                                {{/if}}
                                                <div class="product-footer">
                                                    <small><span>{{countBid}}</span> lượt ra giá</small>
                                                    <small>Từ <span>{{format_day beginDate}}</span></small>
                                                </div>
                                            </div>
                                            <input type="hidden" id="endDate" value="{{format_day_value endDate}}">
                                        </div>
                                    </div>
                                    {{/each}}
                                </div>
                                {{/if}}
                            </div>
                            <!-- /row -->
                        </div>
                        <!-- /MAIN -->
                    </div>
                    <!-- /row -->
                </div>

                <div id="wish-list">
                    <!-- row -->
                    <div class="row">
                        <!-- MAIN -->
                        <div class="col-md-12">
                            <div class="section-title">
                                <h3 class="title">Danh sách yêu thích</h3>
                            </div>
                            <!-- row -->
                            <div class="row">
                                {{#if emptyProductsWishList}}
                                <p>Không có sản phẩm</p>
                                {{else}}
                                <div class="col-md-12 product-container" id="wish-list">
                                    {{#each this.productsWishList}}
                                    <div class="col-md-3 col-sm-4 col-xs-6">
                                        <div class="product product-single">
                                            <div class="product-thumb">
                                                <div class="product-label">
                                                    {{#if isNew}}
                                                    <span>Mới</span>
                                                    {{/if}}
                                                    {{#if isHot}}
                                                    <span class="sale">Hot <i class="fab fa-hotjar"></i></span>
                                                    {{/if}}
                                                </div>
                                                <ul class="product-countdown">
                                                    <li><span class="cd-h">0 H</span></li>
                                                    <li><span class="cd-m">0 M</span></li>
                                                    <li><span class="cd-s">0 S</span></li>
                                                </ul>
                                                <button class="main-btn quick-view"><i class="fa fa-search-plus"></i>
                                                    Xem chi tiết</button>
                                                <button productID="{{productID}}" userID="{{user.userID}}" type="button"
                                                    onsubmit="return false;" name="btnWish"
                                                    class="watch-list btn-wish {{#if isExistWishItem}}focus{{/if}}"><i
                                                        class="fa fa-heart"></i></button>
                                                <img src="/img/product/{{productID}}/{{mainImgSrc}}" alt="">
                                            </div>
                                            <div class="product-body">
                                                <h2 class="product-name"><a
                                                        href="/product/{{productID}}">{{format_name productName}}</a>
                                                </h2>
                                                <p class="product-text">Giá hiện tại: <span
                                                        class="product-price">{{format_money currentPrice}}</span></p>
                                                <p class="product-text">Giá bán ngay: <span
                                                        class="product-price">{{format_money immePrice}}</span></p>
                                                {{#if isBided}}
                                                <p class="product-text">Đặt cao nhất: <span
                                                        class="product-price">{{winner}}</span></p>
                                                {{/if}}
                                                <div class="product-footer">
                                                    <small><span>{{countBid}}</span> lượt ra giá</small>
                                                    <small>Từ <span>{{format_day beginDate}}</span></small>
                                                </div>
                                            </div>
                                            <input type="hidden" id="endDate" value="{{format_day_value endDate}}">
                                        </div>
                                    </div>
                                    {{/each}}
                                </div>
                                {{/if}}
                            </div>
                            <!-- /row -->
                        </div>
                        <!-- /MAIN -->
                    </div>
                    <!-- /row -->
                </div>

                <div id="sold-product">
                    <!-- row -->
                    <div class="row">
                        <!-- MAIN -->
                        <div class="col-md-12">
                            <div class="section-title">
                                <h3 class="title">Sản phẩm đã đăng</h3>
                            </div>
                            <!-- row -->
                            <div class="row">
                                {{#if emptyProductsSelling}}
                                <p>Không có sản phẩm</p>
                                {{else}}
                                <div class="col-md-12 product-container" id="sold-product">
                                    {{#each this.productsSelling}}
                                    <div class="col-md-3 col-sm-4 col-xs-6">
                                        <div class="product product-single">
                                            <div class="product-thumb">
                                                <div class="product-label">
                                                    {{#if isNew}}
                                                    <span>Mới</span>
                                                    {{/if}}
                                                    {{#if isHot}}
                                                    <span class="sale">Hot <i class="fab fa-hotjar"></i></span>
                                                    {{/if}}
                                                </div>
                                                <ul class="product-countdown">
                                                    <li><span class="cd-h">0 H</span></li>
                                                    <li><span class="cd-m">0 M</span></li>
                                                    <li><span class="cd-s">0 S</span></li>
                                                </ul>
                                                <button class="main-btn quick-view"><i class="fa fa-search-plus"></i>
                                                    Xem chi tiết</button>
                                                <button productID="{{productID}}" userID="{{user.userID}}" type="button"
                                                    onsubmit="return false;" name="btnWish"
                                                    class="watch-list btn-wish {{#if isExistWishItem}}focus{{/if}}"><i
                                                        class="fa fa-heart"></i></button>
                                                <img src="/img/product/{{productID}}/{{mainImgSrc}}" alt="">
                                            </div>
                                            <div class="product-body">
                                                <h2 class="product-name"><a
                                                        href="/product/{{productID}}">{{format_name productName}}</a>
                                                </h2>
                                                <p class="product-text">Giá hiện tại: <span
                                                        class="product-price">{{format_money currentPrice}}</span></p>
                                                <p class="product-text">Giá bán ngay: <span
                                                        class="product-price">{{format_money immePrice}}</span></p>
                                                {{#if isBided}}
                                                <p class="product-text">Đặt cao nhất: <span
                                                        class="product-price">{{winner}}</span></p>
                                                {{/if}}
                                                <div class="product-footer">
                                                    <small><span>{{countBid}}</span> lượt ra giá</small>
                                                    <small>Từ <span>{{format_day beginDate}}</span></small>
                                                </div>
                                            </div>
                                            <input type="hidden" id="endDate" value="{{format_day_value endDate}}">
                                        </div>
                                    </div>
                                    {{/each}}
                                </div>
                                {{/if}}
                            </div>
                            <!-- /row -->
                        </div>
                        <!-- /MAIN -->
                    </div>
                    <!-- /row -->
                </div>

                <div id="seller-regis">
                    <!-- row -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="section-title">
                                <h3 class="title">Đăng ký làm người bán <small><i
                                            class="fas fa-info-circle"></i></small></h3>
                            </div>

                            <form id="checkout-form" class="clearfix">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <h4 class="form-label">Hình thức bán hàng </h4>
                                        </div>
                                    </div>
                                    <div class="col-md-9" style='line-height: 40px;'>
                                        <div class="form-group">
                                            <span style="font-size: large;">Cá nhân</span>
                                            <input type="checkbox" class="js-switch-radio">
                                            <span style="font-size: large;">Doanh nghiệp</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <h4 class="form-label">Thoả thuận dịch vụ </h4>
                                        </div>
                                    </div>
                                    <div class="col-md-9" style='line-height: 40px;'>
                                        <div class="form-group">
                                            <input type="checkbox" class="js-switch">
                                            <span style="font-size: large;">Tôi đồng ý với các <a
                                                    href="javascript:void(0)" class="btn-term"
                                                    style="color: #F8694A; text-decoration: underline;">điều khoản
                                                    dịch vụ</a> của Bidhub</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12" style="text-align: center;">
                                        <div class="form-group">
                                            <button class="main-btn btn-seller-regis">Xác nhận đăng ký <i
                                                    class="fas fa-check-double"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>