<body>
    <!-- section -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <form id="checkout-form" class="clearfix">
                    <div class="col-md-6">
                        <div class="section-title">
                            <h3 class="title">Thông tin người nhận</h3>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <h4 class="form-label">Họ và tên</h4>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="form-group">
                                    <input class="input" type="text" name="name" placeholder="Họ và tên"
                                        value="{{user.name}}" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <h4 class="form-label">Email</h4>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="form-group">
                                    <input class="input" type="email" name="email" placeholder="Email"
                                        value="{{user.email}}" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <h4 class="form-label">Địa chỉ</h4>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="form-group">
                                    <input class="input" type="text" name="address" placeholder="Địa chỉ"
                                        value="{{user.address}}" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <h4 class="form-label">Số điện thoại</h4>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="form-group">
                                    <input class="input" type="tel" name="tel" placeholder="Số điện thoại"
                                        value="{{user.tel}}" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <h4 class="form-label">Ghi chú<br> của người nhận</h4>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="form-group">
                                    <textarea style="width:100%; height: 150px"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="shiping-methods">
                            <div class="section-title">
                                <h3 class="title">Hình thức giao nhận</h3>
                            </div>
                            <div class="input-checkbox">
                                <input type="radio" name="shipping" id="shipping-1" checked>
                                <label for="shipping-1">Người nhận tự đến lấy - 0₫</label>
                                <div class="caption">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                        nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                        <p>
                                </div>
                            </div>
                            <div class="input-checkbox">
                                <input type="radio" name="shipping" id="shipping-2">
                                <label for="shipping-2">Vietnam Post - 29,530₫</label>
                                <div class="caption">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                        nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                        <p>
                                </div>
                            </div>
                        </div>

                        <div class="payments-methods">
                            <div class="section-title">
                                <h4 class="title">Hình thức thanh toán</h4>
                            </div>
                            <div class="input-checkbox">
                                <input type="radio" name="payments" id="payments-1" checked>
                                <label for="payments-1">Trả bằng tiền mặt khi nhận hàng</label>
                                <div class="caption">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                        nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                        <p>
                                </div>
                            </div>
                            <div class="input-checkbox">
                                <input type="radio" name="payments" id="payments-2">
                                <label for="payments-2">Internet Banking</label>
                                <div class="caption">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                        nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                        <p>
                                </div>
                            </div>
                            <div class="input-checkbox">
                                <input type="radio" name="payments" id="payments-3">
                                <label for="payments-3">Ví Momo</label>
                                <div class="caption">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                        nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                        <p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="order-summary clearfix">
                            <div class="section-title">
                                <h3 class="title">Thông tin sản phẩm</h3>
                            </div>
                            <table class="shopping-cart-table table">
                                <thead>
                                    <tr>
                                        <th>Sản phẩm</th>
                                        <th></th>
                                        <th class="text-center">Người bán</th>
                                        <th class="text-center">Giá</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="thumb"><img
                                                src="/img/product/{{product.productID}}/{{product.mainImgSrc}}" alt="">
                                        </td>
                                        <td class="details">
                                            <a href="/product/{{product.productID}}">{{product.productName}}</a>
                                        </td>
                                        <td class="qty text-center">{{product.sellerName}}</td>
                                        <td class="price text-center">
                                            <strong>{{format_money product.currentPrice}}</strong></td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th class="empty" colspan="2"></th>
                                        <th>PHÍ VẬN CHUYỂN</th>
                                        <td colspan="2">{{format_money transportPrice}}</td>
                                    </tr>
                                    <tr>
                                        <th class="empty" colspan="2"></th>
                                        <th>TỔNG CỘNG</th>
                                        <th colspan="2" class="total">{{format_money totalPrice}}</th>
                                    </tr>
                                </tfoot>
                            </table>
                            <div class="pull-right">
                                <button class="primary-btn btn-order">Xác nhận đơn hàng</button>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /section -->
</body>