<!-- HOME -->
<div id="home">
	<!-- container -->
	<div class="container">
		<!-- home wrap -->
		<div class="home-wrap">
			<!-- home slick -->
			<div id="home-slick">
				<!-- banner -->
				<div class="banner banner-1">
					<img src="./img/banner01.jpg" alt="">
					<div class="banner-caption text-center">
						<h1>Bags sale</h1>
						<h3 class="white-color font-weak">Up to 50% Discount</h3>
						<button class="primary-btn">Shop Now</button>
					</div>
				</div>
				<!-- /banner -->

				<!-- banner -->
				<div class="banner banner-1">
					<img src="./img/banner02.jpg" alt="">
					<div class="banner-caption">
						<h1 class="primary-color">HOT DEAL<br><span class="white-color font-weak">Up to 50%
								OFF</span></h1>
						<button class="primary-btn">Shop Now</button>
					</div>
				</div>
				<!-- /banner -->

				<!-- banner -->
				<div class="banner banner-1">
					<img src="./img/banner03.jpg" alt="">
					<div class="banner-caption">
						<h1 class="white-color">New Product <span>Collection</span></h1>
						<button class="primary-btn">Shop Now</button>
					</div>
				</div>
				<!-- /banner -->
			</div>
			<!-- /home slick -->
		</div>
		<!-- /home wrap -->
	</div>
	<!-- /container -->
</div>
<!-- /HOME -->

<!-- section -->
<div class="section">
	<!-- /container -->
	<div class="container">
		<!-- /row -->
		<div class="row">
			<div class="col-md-12">
				<div class="section-title">
					<h2 class="title">Sản phẩm sắp kết thúc</h2>
					<div class="pull-right">
						<div class="product-slick-dots-1 custom-dots"></div>
					</div>
				</div>
			</div>

			<!-- Product Slick -->
			<div class="col-md-12 col-sm-12 col-xs-12 mx-auto">
				<div class="row">
					<div id="product-slick-1" class="product-slick">
						{{#each this.productsToEnd}}
						<div class="product product-single">
							<div class="product-thumb">
								<div class="product-label">
									<span class="sale">Hot <i class="fab fa-hotjar"></i></span>
									<span>Mới</span>
								</div>
								<ul class="product-countdown">
									<li><span class="cd-h">0 H</span></li>
									<li><span class="cd-m">0 M</span></li>
									<li><span class="cd-s">0 S</span></li>
								</ul>
								<button class="main-btn quick-view"><i class="fa fa-search-plus"></i> Xem chi
									tiết</button>
								<button class="watch-list btn-wish"><i class="fa fa-heart"></i></button>
								<img src="/img/product/{{productID}}/{{mainImgSrc}}" alt="">
							</div>
							<div class="product-body">
								<h2 class="product-name"><a
										href="/product/{{productID}}">{{format_name productName}}</a></h2>
								<p class="product-text">Giá hiện tại: <span
										class="product-price">{{format_money currentPrice}}</span></p>
								<div class="product-footer">
									<small><span>{{countBid}}</span> lượt ra giá</small>
									<small>Từ <span>{{format_day beginDate}}</span></small>
								</div>
							</div>
						</div>
						{{/each}}
					</div>
				</div>
			</div>
			<!-- /Product Slick -->
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /section -->

<!-- section -->
<div class="section">
	<!-- /container -->
	<div class="container">
		<!-- /row -->
		<div class="row">
			<div class="col-md-12">
				<div class="section-title">
					<h2 class="title">Sản phẩm có nhiều lượt ra giá nhất</h2>
					<div class="pull-right">
						<div class="product-slick-dots-2 custom-dots"></div>
					</div>
				</div>
			</div>

			<!-- Product Slick -->
			<div class="col-md-12 col-sm-12 col-xs-12 mx-auto">
				<div class="row">
					<div id="product-slick-2" class="product-slick">
						{{#each this.productsMostBid}}
						<div class="product product-single">
							<div class="product-thumb">
								<div class="product-label">
									<span class="sale">Hot <i class="fab fa-hotjar"></i></span>
									<span>Mới</span>
								</div>
								<ul class="product-countdown">
									<li><span class="cd-h">0 H</span></li>
									<li><span class="cd-m">0 M</span></li>
									<li><span class="cd-s">0 S</span></li>
								</ul>
								<button class="main-btn quick-view"><i class="fa fa-search-plus"></i> Xem chi
									tiết</button>
								<button class="watch-list btn-wish"><i class="fa fa-heart"></i></button>
								<img src="/img/product/{{productID}}/{{mainImgSrc}}" alt="">
							</div>
							<div class="product-body">
								<h2 class="product-name"><a
										href="/product/{{productID}}">{{format_name productName}}</a></h2>
								<p class="product-text">Giá hiện tại: <span
										class="product-price">{{format_money currentPrice}}</span></p>
								<div class="product-footer">
									<small><span>{{countBid}}</span> lượt ra giá</small>
									<small>Từ <span>{{format_day beginDate}}</span></small>
								</div>
							</div>
						</div>
						{{/each}}
					</div>
				</div>
			</div>
			<!-- /Product Slick -->
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /section -->

<!-- section -->
<div class="section">
	<!-- /container -->
	<div class="container">
		<!-- /row -->
		<div class="row">
			<div class="col-md-12">
				<div class="section-title">
					<h2 class="title">Sản phẩm có giá cao nhất</h2>
					<div class="pull-right">
						<div class="product-slick-dots-3 custom-dots"></div>
					</div>
				</div>
			</div>
			<!-- Product Slick -->
			<div class="col-md-12 col-sm-12 col-xs-12 mx-auto">
				<div class="row">
					<div id="product-slick-3" class="product-slick">
						{{#each this.productsHighestPrice}}
						<div class="product product-single">
							<div class="product-thumb">
								<div class="product-label">
									<span class="sale">Hot <i class="fab fa-hotjar"></i></span>
									<span>Mới</span>
								</div>
								<ul class="product-countdown">
									<li><span class="cd-h">0 H</span></li>
									<li><span class="cd-m">0 M</span></li>
									<li><span class="cd-s">0 S</span></li>
								</ul>
								<button class="main-btn quick-view"><i class="fa fa-search-plus"></i> Xem chi
									tiết</button>
								<button class="watch-list btn-wish"><i class="fa fa-heart"></i></button>
								<img src="/img/product/{{productID}}/{{mainImgSrc}}" alt="">
							</div>
							<div class="product-body">
								<h2 class="product-name"><a
										href="/product/{{productID}}">{{format_name productName}}</a></h2>
								<p class="product-text">Giá hiện tại: <span
										class="product-price">{{format_money currentPrice}}</span></p>
								<div class="product-footer">
									<small><span>{{countBid}}</span> lượt ra giá</small>
									<small>Từ <span>{{format_day beginDate}}</span></small>
								</div>
							</div>
						</div>
						{{/each}}
					</div>
				</div>
			</div>
			<!-- /Product Slick -->
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /section -->

<!-- section -->
<div class="section" id="latest">
	<!-- /container -->
	<div class="container">
		<!-- /row -->
		<div class="row">
			<div class="col-md-12">
				<div class="section-title">
					<h2 class="title">Sản phẩm mới nhất</h2>
					<div class="pull-right">
						<div class="product-slick-dots-latest custom-dots"></div>
					</div>
				</div>
			</div>

			<!-- Product Slick -->
			<div class="col-md-12 col-sm-12 col-xs-12 mx-auto">
				<div class="row">
					<div id="product-slick-latest" class="product-slick">
						{{#each this.productsNew}}
						<div class="product product-single">
							<div class="product-thumb">
								<div class="product-label">
									<span class="sale">Hot <i class="fab fa-hotjar"></i></span>
									<span>Mới</span>
								</div>
								<ul class="product-countdown">
									<li><span class="cd-h">0 H</span></li>
									<li><span class="cd-m">0 M</span></li>
									<li><span class="cd-s">0 S</span></li>
								</ul>
								<button class="main-btn quick-view"><i class="fa fa-search-plus"></i> Xem chi
									tiết</button>
								<button class="watch-list btn-wish"><i class="fa fa-heart"></i></button>
								<img src="/img/product/{{productID}}/{{mainImgSrc}}" alt="">
							</div>
							<div class="product-body">
								<h2 class="product-name"><a
										href="/product/{{productID}}">{{format_name productName}}</a></h2>
								<p class="product-text">Giá hiện tại: <span
										class="product-price">{{format_money currentPrice}}</span></p>
								<div class="product-footer">
									<small><span>{{countBid}}</span> lượt ra giá</small>
									<small>Từ <span>{{format_day beginDate}}</span></small>
								</div>
							</div>
						</div>
						{{/each}}
					</div>
				</div>
			</div>
			<!-- /Product Slick -->
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /section -->