<!-- section -->
<div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<!--  Product Details -->
			<div class="product product-details clearfix">
				<div class="col-md-5">
					{{!-- Cái chỗ này, main-view là cái hình to zoom được, view là cái hình nhỏ --}}
					{{!-- T ghi tên biến đại loại thế, m hiểu rồi thì sửa lại theo cái object m truyền --}}
					<div id="product-main-view">
						{{#each this.imgSrc}}
						<div class="product-view">
							<img src="{{imgSrc}}" alt="">
						</div>
						{{/each}}
					</div>
					<div id="product-view">
						{{#each this.imgSrc}}
						<div class="product-view">
							<img src="{{imgSrc}}" alt="">
						</div>
						{{/each}}
					</div>
				</div>
				<div class="col-md-7">
					<div class="product-body">
						<div class="product-label">
							{{#if isNew}}
							<span>New</span>
							{{/if}}
							{{#if isHot}}
							<span class="sale">Hot <i class="fab fa-hotjar"></i></span>
							{{/if}}
						</div>
						<div class="product-info">
							<h2 class="product-name">{{productName}}</h2>
							<p>Thương hiệu: <span>{{brand}}</span></p>
							<p>Xuất xứ: <span>{{pFrom}}</span></p>
							<p>Mô tả sản phẩm:</p>
							{{{description}}}
							{{!-- Chỗ này 3 ngoặc ko nhầm đâu, vì description là lưu một chuỗi html dài, 3 ngoặc để render html --}}

							{{!-- <span>Ngày bắt đầu: <span>18h32 ngày 20/11/2019</span></span> --}}
							<p>Ngày bắt đầu: <span>{{format beginDate}}</span></p>
							{{!-- format ngày giờ như trên --}}

							<p>Ngày kết thúc: <span>{{format endDate}}</span></p>
							<hr>
							<p>Giá hiện tại: <span class="product-price" id="current">{{format currentPrice}}</span></p>
							<p>Giá mua ngay: <span class="product-price">{{format immePrice}}</span></p>
						</div>
						<div class="product-btns">
							<div class="qty-input">
								<input class="input price-input">
								{{!-- format chỗ này nữa --}}
							</div>
							<button class="primary-btn btn-bid" type="submit">Ra giá <i
									class="fas fa-gavel"></i></button>
							<div class="pull-right">
								<button class="main-btn icon-btn btn-delete"><i class="fas fa-trash"></i></button>
								<button class="main-btn icon-btn" id="myPopUp"><i class="fa fa-share-alt"></i></button>
								<button class="btn-wish"><i class="fa fa-heart"></i></button>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="product-tab">
						<ul class="tab-nav">
							<li class="active"><a data-toggle="tab" href="#tab1">Thông tin chi tiết</a></li>
						</ul>
						<div class="tab-content">
							<div id="tab1" class="tab-pane fade in active">
								<div class="row">
									<div class="col-md-6">
										<h4 style="margin-bottom: 20px;">Ghi chú của người bán<span class="pull-right"
												style="font-size: 14px; margin-top:-5px"><button
													class="main-btn note-btn"><i class="far fa-edit"></i> Thêm ghi
													chú</button></span></h4>
										{{#each note}}
										<div class="note" id="note{{noteID}}">
											<p><i class="fas fa-edit"></i> <span class="note-date">{{noteDate}}</span>
											</p>
											<p>{{noteContent}}</p>
										</div>
										{{/each}}
									</div>
									<div class="col-md-6">
										<h4 style="margin-bottom: 20px;">Lịch sử đấu giá</h4>
										<div class="row">
											<div class="col-md-12">
												<table id="bid-table">
													{{!-- Cái này t xử lý ở client, trong file public/js/main.js dòng 388 --}}
													{{!-- m Tham khảo rồi làm theo --}}
													{{!-- nó phân trang sẵn rồi, thầy bảo ko nên dùng cái này, nhưng mà cái này ít, dùng được --}}
												</table>
											</div>

										</div>
									</div>
								</div>


							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /Product Details -->
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /section -->

<!-- section -->
<div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<!-- section title -->
			<div class="col-md-12">
				<div class="section-title">
					<h2 class="title">Sản Phẩm Tương Tự</h2>
				</div>
			</div>
			<!-- section title -->
		</div>
		<!-- /row -->
		<!-- row -->
		<div class="row">
			<!-- section title -->
			<div class="col-md-12">
				<div class="product-container">
					{{!-- render sản phẩm tương tự --}}
					{{!-- Từ từ tính --}}
				</div>
			</div>
			<!-- section title -->
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /section -->