{{#section 'js'}}
<script
	src="https://cdn.tiny.cloud/1/sfxod6yk264sspcnxgqvv1tt368ja0csyad2gm36255qvya4/tinymce/5/tinymce.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
<script src="/js/product-details.js"></script>
{{/section}}

{{#section 'css'}}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
{{/section}}

<!-- section -->
<div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<!--  Product Details -->
			<input type="hidden" id="status" name="status" value="{{status}}">
			<input type="hidden" id="message" name="message" value="{{message}}">
			<input type="hidden" id="productID" name="productID" value="{{product.productID}}">
			<div class="product product-details clearfix">
				<div class="col-md-5">
					<div id="product-main-view">
						{{#if emptyImg}}
						<div class="product-view">
							<p>Không có dữ liệu hình ảnh</p>
						</div>
						{{else}}
						{{#each listImgSrc}}
						<div class="product-view">
							<img src="/img/product/{{productID}}/{{imgSrc}}" alt="">
						</div>
						{{/each}}
						{{/if}}
					</div>
					<div id="product-view">
						{{#each listImgSrc}}
						<div class="product-view">
							<img src="/img/product/{{productID}}/{{imgSrc}}" alt="">
						</div>
						{{/each}}
					</div>
				</div>
				<div class="col-md-7">
					<div class="product-body">
						{{#if product.isEndBid}}
						<div class="product-label">
							<span class="end">Phiên đấu giá đã kết thúc <i class="fas fa-hourglass-end"></i></span>
						</div>
						{{else}}
						<ul class="product-countdown">
							<li><span class="cd-h">0 H</span></li>
							<li><span class="cd-m">0 M</span></li>
							<li><span class="cd-s">0 S</span></li>
						</ul>
						<input type="hidden" id="endDate" value="{{format_day_value product.endDate}}">
						{{/if}}
						<div class="product-label">
							{{#if isSeller}}
							<span class="seller"> Bạn là người đăng <i class="fas fa-dollar-sign"></i></span>
							{{/if}}
							{{#if isNew}}
							<span class="product-name">Mới</span>
							{{/if}}
							{{#if isHot}}
							<span class="product-name sale">Hot <i class="fab fa-hotjar"></i></span>
							{{/if}}
						</div>
						<div class="product-info">
							<h2 class="product-name" id="pName">{{product.productName}}</h2>
							<p>Thương hiệu: <span>{{product.brand}}</span></p>
							<p>Xuất xứ: <span>{{product.pFrom}}</span></p>
							<p>Ngày bắt đầu: <span class="time">{{format_day_time product.beginDate}}</span></p>
							<p>Ngày kết thúc: <span>{{format_day_time product.endDate}}</span></p>
							<hr>
							{{#unless isSeller}}
							<h4 class="product-name">Thông tin người bán</h4>
							<p>Người bán: <span>{{format_name_bid seller.name}}</span></p>
							<p>Số điện thoại: <span>{{seller.tel}}</span></p>
							<p>Địa chỉ: <span>{{seller.address}}</span></p>
							<p>
								Điểm đánh giá: <span style="color: red">{{format_evaluation seller.point}}</span>
								<a href="/user-eval-detail/{{seller.userID}}" target="_blank"
									class="main-btn small-btn">Chi tiết</a>
							</p>
							<hr>
							{{/unless }}
							{{#if isBided}}
							<h4 class="product-name">Thông tin người đặt giá cao nhất</h4>
							<p>Người đặt giá cao nhất: <span>{{format_name_bid winner.name}}</span></p>
							<p>Số điện thoại: <span>{{winner.tel}}</span></p>
							<p>Địa chỉ: <span>{{winner.address}}</span></p>
							<p>
								Điểm đánh giá: <span style="color: red">{{format_evaluation winner.point}}</span>
								{{#if isSeller}}
								<a href="/user-eval-detail/{{winner.userID}}" target="_blank"
									class="main-btn small-btn">Chi tiết</a>
								{{/if}}
							</p>
							<hr>
							{{/if}}
							<p style="display: none">Giá ban đầu: <span class="product-price"
									id="begin">{{format_money product.beginPrice}}</span></p>
							<p>Giá hiện tại: <span class="product-price"
									id="current">{{format_money product.currentPrice}}</span></p>
							{{#if product.immePrice}}
							<p>Giá mua ngay: <span class="product-price"
									id="immePrice">{{format_money product.immePrice}}</span></p>
							{{/if}}
							<p>Bước giá: <span class="product-price" id="step">{{format_money product.stepPrice}}</span>
							</p>
						</div>
						<div class="product-btns">
							<form method="POST" onsubmit="return checkBid()">
								<input type="hidden" name="isEndBid" value="{{product.isEndBid}}">
								{{#unless isSeller}}
								{{#unless product.isEndBid}}
								<p class="err-validate" id="err-bidPrice"></p>
								<div class="qty-input">
									<input class="input price-input" name="bidPrice" value={{bidPrice}} id="bidPrice"
										type="text">
								</div>
								<button id="btn-submit" class="primary-btn btn-bid"
									formaction="/product/{{product.productID}}/bid" type="submit"
									style="display: none;">Ra giá <i class="fas fa-gavel"></i></button>
								<button id="btn-bid" class="primary-btn btn-bid">Ra giá <i
										class="fas fa-gavel"></i></button>
								{{/unless}}
								{{/unless}}
							</form>
							<div class="pull-right">
								<form method="POST" style="display: none;">
									<button class="main-btn icon-btn btn-delete" id="btn-delete"
										formaction="/seller/product/{{product.productID}}/delete" type="submit"
										style="display: ;"></button>
								</form>
								{{#if isSeller}}
								<button class="main-btn icon-btn btn-confirm-delete" type="button"><i
										class="fas fa-trash"></i></button>
								{{/if}}
								{{#if user.isAdmin}}
								<button class="main-btn icon-btn btn-confirm-delete" type="button"><i
										class="fas fa-trash"></i></button>
								{{/if}}

								{{!-- <button class="main-btn icon-btn" id="myPopUp"><i
											class="fa fa-share-alt"></i></button> --}}
								<button productID="{{product.productID}}" userID="{{user.userID}}" type="button"
									onsubmit="return false;" name="btnWish"
									class="btn-wish {{#if isExistWishItem}}focus{{/if}}"><i
										class="fa fa-heart"></i></button>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="product-tab">
						<ul class="tab-nav">
							<li class="active"><a data-toggle="tab" href="#tab1">Thông tin chi tiết</a></li>
						</ul>
						<div class="tab-content">
							<div id="tab1" class="tab-pane fade in active">
								<div class="row">
									<div class="col-md-6">
										<h4 style="margin-bottom: 20px;">Mô tả của người bán<span class="pull-right"
												style="font-size: 14px; margin-top:-5px">
												{{#if isSeller}}
												<button class="main-btn note-btn" productID="{{product.productID}}"><i
														class="far fa-edit"></i> Thêm mô
													tả</button></span>
											{{/if}}
										</h4>
										{{#each desc}}
										<div class="note" id="note{{descID}}">
											<p><i class="fas fa-edit"></i>
												<span>{{format_day_time descDate}}</span>
											</p>
											<div class="ignore">
												{{{descContents}}}
											</div>
										</div>
										{{/each}}
									</div>
									<div class="col-md-6">
										<h4 style="margin-bottom: 20px;">Lịch sử đấu giá</h4>
										<div class="row">
											<div class="col-md-12">
												<input type="hidden" id="isSeller" value={{isSeller}}>
												<table class="bid-table" style="width: 100%;">
													<thead>
														<tr>
															<th>Thời gian</th>
															<th>Người đấu giá</th>
															<th>Giá</th>
															{{#if isSeller}}
															<th></th>
															{{/if}}
														</tr>
													</thead>
												</table>
											</div>
										</div>
									</div>
									{{#each productBid}}
									<div class="bid-table-data">
										<input type="hidden" name="bid-productID" id="bid-productID"
											value="{{productID}}">
										<input type="hidden" name="bid-bidderID" id="bid-bidderID" value="{{bidderID}}">
									</div>
									{{/each}}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /Product Details -->
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /section -->

<!-- section -->
<div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<!-- section title -->
			<div class="col-md-12">
				<div class="section-title">
					<h2 class="title">Sản Phẩm Tương Tự</h2>
				</div>
			</div>
			<!-- section title -->
		</div>
		<!-- /row -->
		<!-- row -->
		<div class="row">
			<!-- section title -->
			<div class="col-md-12">
				<div class="product-container">
					{{#each this.productListSame}}
					<div class="col-md-5ths col-sm-4 col-xs-6">
						<div class="product product-single">
							<div class="product-thumb">
								<div class="product-label">
									{{#if isNew}}
									<span>Mới</span>
									{{/if}}
									{{#if isHot}}
									<span class="sale">Hot <i class="fab fa-hotjar"></i></span>
									{{/if}}
								</div>
								<ul class="product-countdown">
									<li><span class="cd-h">0 H</span></li>
									<li><span class="cd-m">0 M</span></li>
									<li><span class="cd-s">0 S</span></li>
								</ul>
								<button class="main-btn quick-view"><i class="fa fa-search-plus"></i> Xem chi
									tiết</button>
								<button productID="{{productID}}" userID="{{user.userID}}" type="button"
									onsubmit="return false;" name="btnWish"
									class="watch-list btn-wish {{#if isExistWishItem}}focus{{/if}}"><i
										class="fa fa-heart"></i></button>
								<img src="/img/product/{{productID}}/{{mainImgSrc}}" alt="">
							</div>
							<div class="product-body">
								<h2 class="product-name"><a
										href="/product/{{productID}}">{{format_name productName}}</a></h2>
								<p class="product-text">Giá hiện tại: <span
										class="product-price">{{format_money currentPrice}}</span></p>
								<p class="product-text">Giá bán ngay: <span
										class="product-price">{{format_money immePrice}}</span></p>
								<p class="product-text">Đặt cao nhất: <span
										class="product-price">{{#if isBided}}{{format_name_bid winner}}{{/if}}</span>
								</p>
								<div class="product-footer">
									<small><span>{{countBid}}</span> lượt ra giá</small>
									<small>Từ <span>{{format_day beginDate}}</span></small>
								</div>
							</div>
							<input type="hidden" id="endDate" value="{{format_day_value endDate}}">
						</div>
					</div>
					{{/each}}
				</div>
			</div>
			<!-- section title -->
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /section -->