{{#section 'js'}}
<script src="/js/sample/product-details.js"></script>
{{/section}}

<!-- section -->
<div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<!--  Product Details -->
			<input type="hidden" id="status" name="status" value="{{status}}">
			<input type="hidden" id="message" name="message" value="{{message}}">
			<div class="product product-details clearfix">
				<div class="col-md-5">
					<div id="product-main-view">
						{{#if emptyImg}}
						<div class="product-view">
							<p>Không có dữ liệu hình ảnh</p>
						</div>
						{{else}}
						{{#each listImgSrc}}
						<div class="product-view">
							<img src="/img/product/{{productID}}/{{imgSrc}}" alt="">
						</div>
						{{/each}}
						{{/if}}
					</div>
					<div id="product-view">
						{{#each listImgSrc}}
						<div class="product-view">
							<img src="/img/product/{{productID}}/{{imgSrc}}" alt="">
						</div>
						{{/each}}
					</div>
				</div>
				<div class="col-md-7">
					<div class="product-body">
						<div class="product-label">
							{{#if isNew}}
							<span>New</span>
							{{/if}}
							{{#if isHot}}
							<span class="sale">Hot <i class="fab fa-hotjar"></i></span>
							{{/if}}
						</div>
						<div class="product-info">
							<h2 class="product-name">{{product.productName}}</h2>
							<p>Thương hiệu: <span>{{product.brand}}</span></p>
							<p>Xuất xứ: <span>{{product.pFrom}}</span></p>
							<p>Mô tả sản phẩm:</p>
							{{{product.description}}}
							<p>Ngày bắt đầu: <span class="time">{{format_day_time product.beginDate}}</span></p>
							<p>Ngày kết thúc: <span>{{format_day_time product.endDate}}</span></p>
							<hr>
							<p>Giá hiện tại: <span class="product-price"
									id="current">{{format_money product.currentPrice}}</span></p>
							<p>Giá mua ngay: <span class="product-price">{{format_money product.immePrice}}</span></p>
						</div>
						<div class="product-btns">
							<form method="POST" onsubmit="return checkBid()">
								{{#unless isSeller}}
								<div class="qty-input">
									<input class="input price-input" name="bidPrice" value={{bidPrice}}>
								</div>
								<button class="primary-btn btn-bid" formaction="/product/{{product.productID}}/bid"
									type="submit">Ra giá <i class="fas fa-gavel"></i></button>
								{{/unless}}
								<div class="pull-right">
									{{#if isSeller}}
									<button class="main-btn icon-btn btn-delete"
										formaction="/seller/product/{{product.productID}}/delete"><i
											class="fas fa-trash"></i></button>
									{{/if}}
									<button class="main-btn icon-btn" id="myPopUp"><i
											class="fa fa-share-alt"></i></button>
									<button productID="{{product.productID}}" userID="{{user.userID}}" type="button"
										onsubmit="return false;" name="btnWish"
										class="btn-wish {{#if isExistWishItem}}focus{{/if}}"><i
											class="fa fa-heart"></i></button>
								</div>
							</form>
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="product-tab">
						<ul class="tab-nav">
							<li class="active"><a data-toggle="tab" href="#tab1">Thông tin chi tiết</a></li>
						</ul>
						<div class="tab-content">
							<div id="tab1" class="tab-pane fade in active">
								<div class="row">
									<div class="col-md-6">
										<h4 style="margin-bottom: 20px;">Ghi chú của người bán<span class="pull-right"
												style="font-size: 14px; margin-top:-5px">
											{{#if isSeller}}
												<button class="main-btn note-btn"><i class="far fa-edit"></i> Thêm ghi
													chú</button></span>
											{{/if}}
										</h4>
										{{#each note}}
										<div class="note" id="note{{noteID}}">
											<p><i class="fas fa-edit"></i>
												<span>{{format_day noteDate}}</span>
											</p>
											<p>{{noteContents}}</p>
										</div>
										{{/each}}
									</div>
									<div class="col-md-6">
										<h4 style="margin-bottom: 20px;">Lịch sử đấu giá</h4>
										<div class="row">
											<div class="col-md-12">
												<table id="bid-table">
													{{!-- Cái này t xử lý ở client, trong file public/js/main.js dòng 388 --}}
													{{!-- m Tham khảo rồi làm theo --}}
													{{!-- nó phân trang sẵn rồi, thầy bảo ko nên dùng cái này, nhưng mà cái này ít, dùng được --}}
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /Product Details -->
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /section -->

<!-- section -->
<div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<!-- section title -->
			<div class="col-md-12">
				<div class="section-title">
					<h2 class="title">Sản Phẩm Tương Tự</h2>
				</div>
			</div>
			<!-- section title -->
		</div>
		<!-- /row -->
		<!-- row -->
		<div class="row">
			<!-- section title -->
			<div class="col-md-12">
				<div class="product-container">
					{{!-- render sản phẩm tương tự --}}
					{{!-- Từ từ tính --}}
				</div>
			</div>
			<!-- section title -->
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /section -->