{{#section 'js'}}
<script src="/js/sample/index.js"></script>
{{/section}}

<!-- section -->
<div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<!-- ASIDE -->
			<div id="aside" class="col-md-2">
				<!-- aside widget -->
				<div class="aside">
					<h3 class="aside-title">Nơi bán</h3>
					<ul class="list-links">
						<li><a href="#">Hà Nội</a></li>
						<li><a href="#">Hồ Chí Minh</a></li>
						<li><a href="#">Đà Nẵng</a></li>
					</ul>
				</div>
			</div>
			<!-- /ASIDE -->
			<!-- MAIN -->
			<div id="main" class="col-md-10">
				<!-- store top filter -->
				<div class="store-filter clearfix">
					<div class="pull-left">
						<div class="sort-filter">
							<form method="POST">
								<span class="text-uppercase">Sắp xếp theo:</span>
								<select name="option" class="input" value="{{option}}">
									<option value="0">Thời gian kết thúc</option>
									<option value="1">Giá</option>
								</select>
								<select name="order" class="input" id="sort-type" value="{{order}}">
									<option value="0">Tăng dần</option>
									<option value="1">Giảm dần</option>
								</select>
								<button type="submit" class="main-btn" style="margin-top:2px"><i
										class="fas fa-sync-alt"></i></button>
							</form>
						</div>
					</div>
				</div>
				<!-- /store top filter -->

				<!-- row -->
				<div class="row" id="store">
					{{#if this.empty}}
					<div class="col-md-12">
						<p class="card-text">
							Không có dữ liệu.
						</p>
					</div>
					{{else}}
					{{#each this.productList}}
					<div class="col-md-3 col-sm-4 col-xs-6">
						<div class="product product-single">
							<div class="product-thumb">
								<div class="product-label">
									{{#if isNew}}
									<span>Mới</span>
									{{/if}}
									{{#if isHot}}
									<span class="sale">Hot <i class="fab fa-hotjar"></i></span>
									{{/if}}
								</div>
								<ul class="product-countdown">
									<li><span class="cd-h">0 H</span></li>
									<li><span class="cd-m">0 M</span></li>
									<li><span class="cd-s">0 S</span></li>
								</ul>
								<button class="main-btn quick-view"><i class="fa fa-search-plus"></i>
									Xem
									chi tiết</button>
								<button productID="{{productID}}" userID="{{user.userID}}" type="button"
									onsubmit="return false;" name="btnWish"
									class="watch-list btn-wish {{#if isExistWishItem}}focus{{/if}}"><i
										class="fa fa-heart"></i></button>
								<img src="/img/product/{{productID}}/{{mainImgSrc}}" alt="">
							</div>
							<div class="product-body">
								<h2 class="product-name"><a
										href="/product/{{productID}}">{{format_name productName}}</a>
								</h2>
								<p class="product-text">Giá hiện tại: <span
										class="product-price">{{format_money currentPrice}}</span>
								</p>
								<p class="product-text">Giá bán ngay: <span class="product-price">{{#if immePrice}}
										{{format_money immePrice}}
										{{else}} Không có {{/if}}</span></p>
								<p class="product-text">Đặt cao nhất: <span
										class="product-price">{{#if isBided}}{{format_name_bid winner}}{{/if}}</span>
								</p>
								<div class="product-footer">
									<small><span>{{countBid}}</span> lượt ra giá</small>
									<small>Từ <span>{{format_day beginDate}}</span></small>
								</div>
							</div>
							<input type="hidden" id="endDate" value="{{format_day_value endDate}}">
						</div>
					</div>
					{{/each}}
					{{/if}}
				</div>
				<!-- /row -->

				<!-- store bottom filter -->
				<div class="store-filter clearfix">
					<div class="pull-right">
						<ul class="store-pages">
							{{#if isNotFirst}}
							<li class="page-item">
								<a class="page-link" href="?page={{prev_value}}">
									<i class="fa fa-backward" aria-hidden="true"></i>
								</a>
							</li>
							{{/if}}
							{{#each this.page_numbers}}
							{{#if isCurrentPage}}
							<li class="active">{{value}}</li>
							{{else}}
							<li class="page-item">
								<a class="page-link" href="?page={{value}}">{{value}}</a>
							</li>
							{{/if}}
							{{/each}}
							{{#if isNotLast}}
							<li class="page-item">
								<a class="page-link" href="?page={{next_value}}">
									<i class="fa fa-forward" aria-hidden="true"></i>
								</a>
							</li>
							{{/if}}
						</ul>
					</div>
				</div>
				<!-- /store bottom filter -->
			</div>
			<!-- /MAIN -->
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /section -->