{{#section 'js'}}
<script src="/js/sample/product-details.js"></script>
{{/section}}

<!-- section -->
<div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<!--  Product Details -->
			<input type="hidden" id="status" name="status" value="{{status}}">
			<input type="hidden" id="message" name="message" value="{{message}}">
			<div class="product product-details clearfix">
				<div class="col-md-5">
					<div id="product-main-view">
						{{#if emptyImg}}
						<div class="product-view">
							<p>Không có dữ liệu hình ảnh</p>
						</div>
						{{else}}
						{{#each listImgSrc}}
						<div class="product-view">
							<img src="/img/product/{{productID}}/{{imgSrc}}" alt="">
						</div>
						{{/each}}
						{{/if}}
					</div>
					<div id="product-view">
						{{#each listImgSrc}}
						<div class="product-view">
							<img src="/img/product/{{productID}}/{{imgSrc}}" alt="">
						</div>
						{{/each}}
					</div>
				</div>
				<div class="col-md-7">
					<div class="product-body">
						{{#if product.isEndBid}}
						<h2 class="product-name" style="color: red;">Phiên đấu giá đã kết thúc</h2>
						{{else}}
						<ul class="product-countdown">
							<li><span class="cd-h">0 H</span></li>
							<li><span class="cd-m">0 M</span></li>
							<li><span class="cd-s">0 S</span></li>
						</ul>
						<input type="hidden" id="endDate" value="{{format_day_value product.endDate}}">
						{{/if}}
						{{#if isSeller}}
						<h3 class="product-name" style="color: blue;">*Sản phẩm được đăng bởi bạn*</h3>
						{{/if}}
						<div class="product-label">
							{{#if isNew}}
							<span>Mới</span>
							{{/if}}
							{{#if isHot}}
							<span class="sale">Hot <i class="fab fa-hotjar"></i></span>
							{{/if}}
						</div>
						<div class="product-info">
							<h2 class="product-name">{{product.productName}}</h2>
							<p>Thương hiệu: <span>{{product.brand}}</span></p>
							<p>Xuất xứ: <span>{{product.pFrom}}</span></p>
							<p>Mô tả sản phẩm:</p>
							{{{product.description}}}
							<p>Ngày bắt đầu: <span class="time">{{format_day_time product.beginDate}}</span></p>
							<p>Ngày kết thúc: <span>{{format_day_time product.endDate}}</span></p>
							<hr>
							{{#unless isSeller}}
							<h4 class="product-name">Thông tin người bán</h4>
							<p>Người bán: <span>{{seller.name}}</span></p>
							<p>Số điện thoại: <span>{{seller.tel}}</span></p>
							<p>Địa chỉ: <span>{{seller.address}}</span></p>
							<hr>
							{{/unless }}
							{{#if isBided}}
							<h4 class="product-name">Thông tin người đặt giá cao nhất</h4>
							<p>Người đặt giá cao nhất: <span>{{winner.name}}</span></p>
							<p>Số điện thoại: <span>{{winner.tel}}</span></p>
							<p>Địa chỉ: <span>{{winner.address}}</span></p>
							<hr>
							{{/if}}
							<p>Giá hiện tại: <span class="product-price"
									id="current">{{format_money product.currentPrice}}</span></p>
							<p>Giá mua ngay: <span class="product-price">{{format_money product.immePrice}}</span></p>
						</div>
						<div class="product-btns">
							<form method="POST" onsubmit="return checkBid()">
								<input type="hidden" name="isEndBid" value="{{product.isEndBid}}">
								{{#unless isSeller}}
								{{#unless product.isEndBid}}
								<div class="qty-input">
									<input class="input price-input" name="bidPrice" value={{bidPrice}}>
								</div>
								<button class="primary-btn btn-bid" formaction="/product/{{product.productID}}/bid"
									type="submit">Ra giá <i class="fas fa-gavel"></i></button>
								{{/unless}}
								{{/unless}}
								<div class="pull-right">
									{{#if isSeller}}
									<button class="main-btn icon-btn btn-delete"
										formaction="/seller/product/{{product.productID}}/delete"><i
											class="fas fa-trash"></i></button>
									{{/if}}
									<button class="main-btn icon-btn" id="myPopUp"><i
											class="fa fa-share-alt"></i></button>
									<button productID="{{product.productID}}" userID="{{user.userID}}" type="button"
										onsubmit="return false;" name="btnWish"
										class="btn-wish {{#if isExistWishItem}}focus{{/if}}"><i
											class="fa fa-heart"></i></button>
								</div>
							</form>
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="product-tab">
						<ul class="tab-nav">
							<li class="active"><a data-toggle="tab" href="#tab1">Thông tin chi tiết</a></li>
						</ul>
						<div class="tab-content">
							<div id="tab1" class="tab-pane fade in active">
								<div class="row">
									<div class="col-md-6">
										<h4 style="margin-bottom: 20px;">Ghi chú của người bán<span class="pull-right"
												style="font-size: 14px; margin-top:-5px">
												{{#if isSeller}}
												<button class="main-btn note-btn"><i class="far fa-edit"></i> Thêm ghi
													chú</button></span>
											{{/if}}
										</h4>
										{{#each note}}
										<div class="note" id="note{{noteID}}">
											<p><i class="fas fa-edit"></i>
												<span>{{format_day noteDate}}</span>
											</p>
											<p>{{noteContents}}</p>
										</div>
										{{/each}}
									</div>
									<div class="col-md-6">
										<h4 style="margin-bottom: 20px;">Lịch sử đấu giá</h4>
										<div class="row">
											<div class="col-md-12">
												<table class="bid-table">

													<input type="hidden" name="isSellerBid" id="isSellerBid"
														value={{isSeller}}>

													{{#each productBid}}
													<div class="bid-table-data">
														<input type="hidden" name="bid-bidderName" id="bid-bidderName"
															value="{{format_name_bid bidderName}}">
														<input type="hidden" name="bid-bidTime" id="bid-bidTime"
															value="{{format_time_bid bidTime}}">
														<input type="hidden" name="bid-Price" id="bid-Price"
															value="{{format_money price}}">
														<input type="hidden" name="bid-productID" id="bid-productID"
															value="{{productID}}">
														<input type="hidden" name="bid-bidderID" id="bid-bidderID"
															value="{{bidderID}}">
													</div>
													{{/each}}
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /Product Details -->
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /section -->

<!-- section -->
<div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<!-- section title -->
			<div class="col-md-12">
				<div class="section-title">
					<h2 class="title">Sản Phẩm Tương Tự</h2>
				</div>
			</div>
			<!-- section title -->
		</div>
		<!-- /row -->
		<!-- row -->
		<div class="row">
			<!-- section title -->
			<div class="col-md-12">
				<div class="product-container">
					{{#each this.productListSame}}
					<div class="col-md-3 col-sm-4 col-xs-6">
						<div class="product product-single">
							<div class="product-thumb">
								<div class="product-label">
									{{#if isNew}}
									<span>Mới</span>
									{{/if}}
									{{#if isHot}}
									<span class="sale">Hot <i class="fab fa-hotjar"></i></span>
									{{/if}}
								</div>
								<ul class="product-countdown">
									<li><span class="cd-h">0 H</span></li>
									<li><span class="cd-m">0 M</span></li>
									<li><span class="cd-s">0 S</span></li>
								</ul>
								<button class="main-btn quick-view"><i class="fa fa-search-plus"></i> Xem
									chi tiết</button>
								<button productID="{{productID}}" userID="{{user.userID}}" type="button"
									onsubmit="return false;" name="btnWish"
									class="watch-list btn-wish {{#if isExistWishItem}}focus{{/if}}"><i
										class="fa fa-heart"></i></button>
								<img src="/img/product/{{productID}}/{{mainImgSrc}}" alt="">
							</div>
							<div class="product-body">
								<h2 class="product-name"><a
										href="/product/{{productID}}">{{format_name productName}}</a></h2>
								<p class="product-text">Giá hiện tại: <span
										class="product-price">{{format_money currentPrice}}</span></p>
								<p class="product-text">Giá bán ngay: <span
										class="product-price">{{format_money immePrice}}</span></p>
								{{#if isBided}}
								<p class="product-text">Đặt cao nhất: <span class="product-price">{{winner}}</span>
								</p>
								{{/if}}
								<div class="product-footer">
									<small><span>{{countBid}}</span> lượt ra giá</small>
									<small>Từ <span>{{format_day beginDate}}</span></small>
								</div>
							</div>
							<input type="hidden" id="endDate" value="{{format_day_value endDate}}">
						</div>
					</div>
					{{/each}}
				</div>
			</div>
			<!-- section title -->
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /section -->