<!-- section -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- MAIN -->
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-12">
                        <h2 style="color: #F8694A;">Người dùng</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h4>Họ tên</h4>
                        <p>{{target.name}}</p>
                    </div>
                    <div class="col-md-12">
                        <h4>Email</h4>
                        <p>{{format_name target.email}}</p>
                    </div>
                    <div class="col-md-12">
                        <h4>Điểm số</h4>
                        <p>{{format_evaluation target.point}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-8" style="border-left: 5px double #f8694a;">
                <div class="row">
                    <div class="col-md-12">
                        <h2 style="color: #F8694A;">Các lượt đánh giá</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {{#if emptyEvaluation}}
                        <p>Không có lượt đánh giá nào</p>
                        {{else}}
                        {{#each evaluation}}
                        <div class="col-md-12 eval-container">
                            <div class="col-md-12 eval-single">
                                <div class="eval-top">
                                    <div class="eval-sender">
                                        <p>{{senderName}}</p>
                                    </div>
                                    <div class="eval-date">
                                        <p>{{format_day_time time}}</p>
                                    </div>
                                </div>
                                <div class="eval-middle">
                                    {{#if isGood}}
                                    <div class="eval-icon">
                                        <p class="orange"><i class="fa fa-thumbs-up"></i> +1</p s>
                                    </div>
                                    {{else}}
                                    <div class="eval-icon">
                                        <p><i class="fas fa-thumbs-down"></i> -1</p>
                                    </div>
                                    {{/if}}
                                    <div class="eval-content">
                                        <p>{{{content}}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
        <!-- /MAIN -->
    </div>
    <!-- /row -->
</div>
<!-- /container -->
<!-- /section -->