<!-- section -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- MAIN -->
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h1 style="color: #F8694A;">Các lượt đánh giá</h1>
                <div class="row">
                    <div class="col-md-12 eval-container">
                        <div class="col-md-12 eval-single">
                            {{#if emptyEvaluation}}
                            <p>Không có lượt đánh giá nào</p>
                            {{else}}
                            {{#each evaluation}}
                            <div class="eval-top">
                                <div class="eval-sender">
                                    <p>{{senderName}}</p>
                                </div>
                                <div class="eval-date">
                                    <p>{{format_day_time time}}</p>
                                </div>
                            </div>
                            <div class="eval-middle">
                                {{#if isGood}}
                                <div class="eval-icon">
                                    <p class="orange"><i class="fa fa-thumbs-up"></i> +1</p s>
                                </div>
                                {{else}}
                                <div class="eval-icon">
                                    <p><i class="fas fa-thumbs-down"></i> -1</p>
                                </div>
                                {{/if}}
                                <div class="eval-content">
                                    <p>{{{content}}}</p>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                        {{/if}}
                    </div>
                </div>
            </div>
            <!-- /MAIN -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /section -->